<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>785987992260-69oedcop95m43836cn6qmbv91aut8l86.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.785987992260-69oedcop95m43836cn6qmbv91aut8l86</string>
	<key>API_KEY</key>
	<string>AIzaSyDeHJA-DveAGzczq74-hBepcUxUD97K6Pk</string>
	<key>GCM_SENDER_ID</key>
	<string>785987992260</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.colstin.InstagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagramclonedb-c98bb</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclonedb-c98bb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:785987992260:ios:a30a5b17a9b0c4fd9ba791</string>
</dict>
</plist>